<div class="hero-unit">
  <h1>apply yourself</h1>

  <h2>a little thing i put together to help sam with her apps. but you got here somehow, so you can use it too.</h2>
<br>
  <%= link_to "sign up", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to "trapdoor to the schools while i actually build out a user signin system", schools_path, class: "btn"%>