@import "bootstrap";
@import 'font-awesome';

.center { 	margin-left:auto;
		  	margin-right:auto;
	
}

.blue { 	color: #08c}

.school { 	margin-top: 5px;
			margin-bottom: 5px}


/* For the sort handles */

.handle { 	width:20px;
			height:62px;
			margin-right:5px;
			cursor:move;
			line-height:100%;
			border-radius: 5px;
			color:lightsteelblue;
			}
			
			
