<header>
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
			  <p class="brand">
				apply yourself
			  </p>
				
				
				
				
				
				
				
			</div>
		</div>
	</div>
</header>